.content-sellers,
.content-trending {
	flex-direction: column;
	align-items: center;
}

.card-wrapper {
	width: 361px;

	margin-bottom: 64px;

	@media screen and (width <= 1439px) {
		margin-right: 24px;
		margin-left: 24px;
	}

	@media screen and (width <= 500px) {
		width: 100%;

		margin-right: 0;
		margin-left: 0;
	}
}

.card {
	display: flex;
	flex-direction: column;

	position: relative;

	margin-bottom: 29px;
	padding: 21px;

	border-radius: 15px;

	&_color {
		&_mint-cream {
			background: #ecfef4;
		}

		&_light-cyan {
			background: #c9f2ff;
		}

		&_light-mallow {
			background: #e5d5ff;
		}

		&_dark-blue-alice {
			background: #e0efff;
		}

		&_light-blue-alice {
			background: #e8f9ff;
		}

		&_paleturquoise {
			background: #d3fbfb;
		}
	}

	&__photo-img {
		margin-bottom: 21px;

		object-fit: contain;
	}

	&__info {
		padding: 31px 52px;

		background: #fff;

		border-radius: 15px;
	}

	&__info-title {
		font-size: 21px;
		font-weight: 500;
		line-height: 35px;

		@media screen and (width <= 460px) {
			line-height: 1.4;
		}
	}

	&__info-rating {
		display: flex;
		align-items: center;

		@media screen and (width <= 460px) {
			flex-direction: column;
			align-items: self-start;
		}
	}

	&__info-price {
		margin-top: 4px;

		font-size: 21px;
		font-weight: 600;
		line-height: 26px;
	}

	&__discount {
		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		top: 19px;
		right: 19px;

		height: 100px;
		width: 100px;

		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;

		border-radius: 50%;

		&_color {
			&_primary {
				color: #fff;

				background: $color-theme-primary;
			}
		}
	}
}

.rating {
	&__stars {
		img + img {
			margin-left: -4px;
		}
	}

	&__reviews {
		margin-left: 8px;

		font-size: 11px;
		font-weight: 600;
		line-height: 35px;

		color: #888;

		@media screen and (width <= 460px) {
			margin-top: -8px;
			margin-left: 0;
		}
	}
}

.card-btn {
	width: 100%;
}
