.welcome-popup {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: #0000007f;

	z-index: 5;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		gap: 15px;

		padding: 50px;

		background-color: #fff;

		border-radius: 10px;
	}

	&__button {
		line-height: 26px;
	}

	p {
		font-weight: 500;
		font-size: 21px;
		line-height: 35px;

		color: var(--textprimarycolor);
	}
}
